.env

# python
__pycache__/
*.py[cod]
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/

# virtualenv
.venv/
venv/
ven/

# packaging
build/
dist/
*.egg-info/

# artifacts
payload.json
*.joblib
*.pt
model.tar.gz

# editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
